<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <script src="js/myscript.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCTRL">
   <div class="container">
    <div class="jumbotron py-3">
        <h1 class="text-center pt-3">{{title}}</h1>
        <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p>
   <h1>HOW IT SPREADS?</h1>
   <p>
    The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
    You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.</p>
   <br>

   
    <!-- ` <button ng-click="changevalue()">
            Change
   </button> -->


   <!-- all data -->

   <div class="row text-center" >
       <div class="col-md-4">
            <div class="card bg-warning text-white">
                <card-body >
                    <h1>Confirmed Cases</h1>
                    <h3>{{all_data.confirmed.value}}</h3>
                </card-body>
            </div>
       </div>
       <div class="col-md-4 ">
        <div class="card bg-success text-white">
            <card-body><h1>Recovered Cases</h1>
                <h3>{{all_data.recovered.value}}</h3>
            </card-body>
        </div>
       </div>
       <div class="col-md-4 ">
        <div class="card bg-danger text-white">
            <card-body><h1>Death Cases</h1>
                <h3>{{all_data.deaths.value}}</h3>
            </card-body>
        </div>
       </div>
   </div>
            <!-- END ALL DATA -->

        <input type="text" 
        class="form-control mt-4" 
        placeholder="Search Country here"
        ng-model="c"
        ng-change="get_country_data()">

        <!-- Country Data -->
<div class="container-fluid" ng-if="c_data">
        <h1 class="text-center mt4 text-uppercase">{{c}} Status</h1>

        <div class="row text-center mt-4"  >
            <div class="col-md-4">
                 <div class="card bg-warning text-white">
                     <card-body >
                         <h3>Confirmed Cases</h3>
                         <h3>{{c_data.confirmed.value}}</h3>
                     </card-body>
                 </div>
            </div>
            <div class="col-md-4 ">
             <div class="card bg-success text-white">
                 <card-body><h3>Recovered Cases</h3>
                     <h3>{{c_data.recovered.value}}</h3>
                 </card-body>
             </div>
            </div>
            <div class="col-md-4 ">
             <div class="card bg-danger text-white">
                 <card-body><h3>Death Cases</h3>
                     <h3>{{c_data.deaths.value}}</h3>
                 </card-body>
             </div>
            </div>
        </div>
    </div>
        <!-- END Country Data -->





    </div>
   </div>
</body>
</html>